<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Help Page</title>
</head>
<body>
	{{> header}}
  <p>Hi, {{screamIt name}}. Your age is {{age}}. Your passion is {{screamIt passion}}.</p>
	<p>{{para1}}</p>
  {{> footer}}
</body>
</html>
